// Delete this as you won't have it in your code!

// mixins
@mixin tablet {
  @media (min-width: 768px) { @content; }
}

body {
  background-color: antiquewhite;
  padding: 0;
  margin: 0;
}

.column-for-map {
  margin: 0 auto;
  padding: 0 20px;
  background-color: #072229;

  @include tablet {
    padding: 0 100px;
  }
}

.column-100 {
  margin: 0 auto;
  padding: 0px;
  background-color: #072229;
}
// End delete

.map {
  width: 100%;
  overflow: visible;
  color: #FFFFFF;
  font-family: 'Manrope', sans-serif;

  &__subtitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 52px;
    margin-bottom: 10px;
    margin-top: 0px;
    
    @include tablet {
      padding-top: 105px;
      margin-bottom: 19px;
    }

  }

  &__title {
    font-size: 27px;
    line-height: 35px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 33px;

    @include tablet {
      font-size: 40px;
      line-height: 54px;
      margin-bottom: 64px;
    }

    span {
      color: #96D1FE;
    }
  }

  &__regions {
    margin-bottom: 33px;
    text-align: center;

    @include tablet {
      display: none;
    }
  }

  &__region {
    margin: 0px 41px 0px 0px;
    background-color: transparent;
    border: none;
    color: white;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    

    &:last-child {
      margin-right: 0px;
    }
  }

  &__root-wrapper {
    width: 100%;
    overflow: hidden;
    padding-bottom: 40px;
    // overflow-x: scroll;
    // scrollbar-width: none;
    // &::-webkit-scrollbar { 
    //   display: none;
    // }

    @include tablet {
      overflow: visible;
      padding-bottom: 0px;
    }
  }

  &__root {
    width: 100%;
    margin-bottom: 60px;
    margin-top: 25px;
    min-width: 900px;
    transition: margin 0.4s, transform 0.4s;

    @include tablet {
      margin-bottom: 141px;
      margin-top: 0px;
      min-width: auto;
    }

    &[data-region="c"] {
      @include tablet {
        margin-left: auto;
      }
    }

    circle {
      r: 3;
      stroke-width: 6;

      @include tablet {
        r: 4;
        stroke-width: 8;
      }
    }
  }

  &[data-active-region="america"] &__root {
    margin-left: calc(50% - 230px);
    transform: scale(1.1);
  }

  &[data-active-region="europe"] &__root {
    margin-left: calc(50% - 460px);
    transform: scale(1.6);
  }

  &[data-active-region="other"] &__root {
    margin-left: calc(50% - 580px);
    transform: scale(0.9);
  }

  &[data-active-region="america"] &__root,
  &[data-active-region="europe"] &__root,
  &[data-active-region="other"] &__root {
    @include tablet {
      margin-left: auto;
      transform: scale(1);
    }
  }
  
  &[data-active-region="america"] &__region[data-region="america"],
  &[data-active-region="europe"] &__region[data-region="europe"],
  &[data-active-region="other"] &__region[data-region="other"] {
    color: #96D1FE
  }

  &__separator {
    margin: 0 auto 39px auto;
    height: 1px;
    background-color: #D9D9D9;
    opacity: 0.1;
    margin-bottom: 22px;
    display: none;
    // max-width: 1200px;
    
    @include tablet {
      margin-bottom: 39px;
      display: block;
    }
  }

  &__reviews-title {
    margin: 0px auto;
    padding-bottom: 36px;
    font-size: 19px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    // max-width: 1200px;

    @include tablet {
      font-size: 22px;
      font-weight: 600;
      padding-bottom: 72px;
    }
  }
}

.reviews {
  padding-bottom: 46px;
  width: 100%;
  height: 50px;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  margin-top: -1px;
  // cursor: grab;

  @include tablet {
    padding-bottom: 114px;
  }
  
  &::-webkit-scrollbar { 
    display: none;
  }

  &__icon {
    width: 200px;
    height: 100%;
    display: inline-block;
  
    &:first-child {
      margin-left: -55px;
    }
  }
}

// Has to remain outside component styling
.jvm-tooltip.active {
  background-color: #292929;
  padding: 5px 10px;
  font-size: 18px;
  border: 1px solid #CDCDCD;
}