// delete this as you won't have it in your code!
body {
  background-color: antiquewhite;
}

.column {
  max-width: 1200px;
  margin: 0 auto;
}
// end delete

#map {
  width: 100%;
  // Delete
  background-color: aqua !important;
}