body {
  background-color: antiquewhite;
  padding: 0;
  margin: 0;
}

.column-for-map {
  margin: 0 auto;
  padding: 0 20px;
  background-color: #072229;
}

@media (min-width: 768px) {
  .column-for-map {
    padding: 0 100px;
  }
}

.column-100 {
  margin: 0 auto;
  padding: 0px;
  background-color: #072229;
}

.map {
  width: 100%;
  overflow: auto;
  color: #FFFFFF;
  font-family: 'Manrope', sans-serif;
}

.map__subtitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 52px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .map__subtitle {
    margin-top: 105px;
    margin-bottom: 19px;
  }
}

.map__title {
  font-size: 27px;
  line-height: 35px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 64px;
}

@media (min-width: 768px) {
  .map__title {
    font-size: 40px;
    line-height: 54px;
  }
}

.map__title span {
  color: #96D1FE;
}

.map__root {
  width: 100%;
  margin-bottom: 41px;
}

@media (min-width: 768px) {
  .map__root {
    margin-bottom: 141px;
  }
}

.map__root circle {
  r: 3;
  stroke-width: 6;
}

@media (min-width: 768px) {
  .map__root circle {
    r: 4;
    stroke-width: 8;
  }
}

.map__separator {
  margin: 0 auto 39px auto;
  height: 1px;
  background-color: #D9D9D9;
  opacity: 0.1;
  margin-bottom: 22px;
  display: none;
}

@media (min-width: 768px) {
  .map__separator {
    margin-bottom: 39px;
    display: block;
  }
}

.map__reviews-title {
  margin: 0px auto 36px auto;
  font-size: 19px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

@media (min-width: 768px) {
  .map__reviews-title {
    margin: 0px auto 72px auto;
    font-size: 22px;
    font-weight: 600;
  }
}

.reviews {
  padding-bottom: 46px;
  width: 100%;
  height: 50px;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
}

@media (min-width: 768px) {
  .reviews {
    padding-bottom: 114px;
  }
}

.reviews::-webkit-scrollbar {
  display: none;
}

.reviews__icon {
  width: 200px;
  height: 100%;
  display: inline-block;
}

.reviews__icon:first-child {
  margin-left: -55px;
}

.jvm-tooltip.active {
  background-color: #292929;
  padding: 5px 10px;
  font-size: 18px;
  border: 1px solid #CDCDCD;
}
