body {
  background-color: antiquewhite;
  padding: 0;
  margin: 0;
}

.column-for-map {
  margin: 0 auto;
  padding: 0 20px;
  background-color: #072229;
}

@media (min-width: 768px) {
  .column-for-map {
    padding: 0 100px;
  }
}

.column-100 {
  margin: 0 auto;
  padding: 0px;
  background-color: #072229;
}

.map {
  width: 100%;
  overflow: visible;
  color: #FFFFFF;
  font-family: 'Manrope', sans-serif;
}

.map__subtitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 52px;
  margin-bottom: 10px;
  margin-top: 0px;
}

@media (min-width: 768px) {
  .map__subtitle {
    padding-top: 105px;
    margin-bottom: 19px;
  }
}

.map__title {
  font-size: 27px;
  line-height: 35px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 33px;
}

@media (min-width: 768px) {
  .map__title {
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 64px;
  }
}

.map__title span {
  color: #96D1FE;
}

.map__regions {
  margin-bottom: 33px;
  text-align: center;
}

@media (min-width: 768px) {
  .map__regions {
    display: none;
  }
}

.map__region {
  margin: 0px 41px 0px 0px;
  background-color: transparent;
  border: none;
  color: white;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
}

.map__region:last-child {
  margin-right: 0px;
}

.map__root-wrapper {
  width: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .map__root-wrapper {
    overflow: visible;
  }
}

.map__root {
  width: 100%;
  margin-bottom: 41px;
  min-width: 900px;
  -webkit-transition: margin 0.4s, -webkit-transform 0.4s;
  transition: margin 0.4s, -webkit-transform 0.4s;
  transition: margin 0.4s, transform 0.4s;
  transition: margin 0.4s, transform 0.4s, -webkit-transform 0.4s;
}

@media (min-width: 768px) {
  .map__root {
    margin-bottom: 141px;
    min-width: auto;
  }
}

@media (min-width: 768px) {
  .map__root[data-region="c"] {
    margin-left: auto;
  }
}

.map__root circle {
  r: 3;
  stroke-width: 6;
}

@media (min-width: 768px) {
  .map__root circle {
    r: 4;
    stroke-width: 8;
  }
}

.map[data-active-region="america"] .map__root {
  margin-left: calc(50% - 230px);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.map[data-active-region="europe"] .map__root {
  margin-left: calc(50% - 460px);
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.map[data-active-region="other"] .map__root {
  margin-left: calc(50% - 580px);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (min-width: 768px) {
  .map[data-active-region="america"] .map__root,
  .map[data-active-region="europe"] .map__root,
  .map[data-active-region="other"] .map__root {
    margin-left: auto;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.map[data-active-region="america"] .map__region[data-region="america"],
.map[data-active-region="europe"] .map__region[data-region="europe"],
.map[data-active-region="other"] .map__region[data-region="other"] {
  color: #96D1FE;
}

.map__separator {
  margin: 0 auto 39px auto;
  height: 1px;
  background-color: #D9D9D9;
  opacity: 0.1;
  margin-bottom: 22px;
  display: none;
  max-width: 1200px;
}

@media (min-width: 768px) {
  .map__separator {
    margin-bottom: 39px;
    display: block;
  }
}

.map__reviews-title {
  margin: 0px auto;
  padding-bottom: 36px;
  font-size: 19px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 1200px;
}

@media (min-width: 768px) {
  .map__reviews-title {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 72px;
  }
}

.reviews {
  padding-bottom: 46px;
  width: 100%;
  height: 50px;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  margin-top: -1px;
}

@media (min-width: 768px) {
  .reviews {
    padding-bottom: 114px;
  }
}

.reviews::-webkit-scrollbar {
  display: none;
}

.reviews__icon {
  width: 200px;
  height: 100%;
  display: inline-block;
}

.reviews__icon:first-child {
  margin-left: -55px;
}

.jvm-tooltip.active {
  background-color: #292929;
  padding: 5px 10px;
  font-size: 18px;
  border: 1px solid #CDCDCD;
}
