body {
  background-color: antiquewhite;
  padding: 0;
  margin: 0;
}

.column {
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .column {
    padding: 0 100px;
  }
}

.column--map {
  background-color: #072229;
}

.column--100 {
  margin: 0 auto;
  padding: 0px;
}

.map {
  width: 100%;
  overflow: visible;
  color: #FFFFFF;
  font-family: 'Manrope', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.map * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.map__subtitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 52px;
  margin-bottom: 10px;
  margin-top: 0px;
}

@media (min-width: 768px) {
  .map__subtitle {
    padding-top: 105px;
    margin-bottom: 19px;
  }
}

.map__title {
  font-size: 27px;
  line-height: 35px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 33px;
}

@media (min-width: 768px) {
  .map__title {
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 64px;
  }
}

.map__title span {
  color: #96D1FE;
}

.map__regions {
  margin-bottom: 33px;
  text-align: center;
}

@media (min-width: 768px) {
  .map__regions {
    display: none;
  }
}

.map__region {
  margin: 0px 41px 0px 0px;
  background-color: transparent;
  border: none;
  color: white;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
}

.map__region:last-child {
  margin-right: 0px;
}

.map__root-wrapper {
  width: 100%;
  overflow: hidden;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .map__root-wrapper {
    overflow: visible;
    padding-bottom: 0px;
  }
}

.map__root {
  width: 100%;
  margin-bottom: 60px;
  margin-top: 25px;
  min-width: 900px;
  -webkit-transition: margin 0.4s, -webkit-transform 0.4s;
  transition: margin 0.4s, -webkit-transform 0.4s;
  transition: margin 0.4s, transform 0.4s;
  transition: margin 0.4s, transform 0.4s, -webkit-transform 0.4s;
}

@media (min-width: 768px) {
  .map__root {
    margin-bottom: 141px;
    margin-top: 0px;
    min-width: auto;
  }
}

@media (min-width: 768px) {
  .map__root[data-region="c"] {
    margin-left: auto;
  }
}

.map__root circle {
  r: 3;
  stroke-width: 6;
}

@media (min-width: 768px) {
  .map__root circle {
    r: 4;
    stroke-width: 8;
  }
}

.map[data-active-region="america"] .map__root {
  margin-left: calc(50% - 230px);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.map[data-active-region="europe"] .map__root {
  margin-left: calc(50% - 460px);
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.map[data-active-region="other"] .map__root {
  margin-left: calc(50% - 580px);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (min-width: 768px) {
  .map[data-active-region="america"] .map__root,
  .map[data-active-region="europe"] .map__root,
  .map[data-active-region="other"] .map__root {
    margin-left: auto;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.map[data-active-region="america"] .map__region[data-region="america"],
.map[data-active-region="europe"] .map__region[data-region="europe"],
.map[data-active-region="other"] .map__region[data-region="other"] {
  color: #96D1FE;
}

.map__separator {
  margin: 0 auto 39px auto;
  height: 1px;
  background-color: #D9D9D9;
  opacity: 0.1;
  margin-bottom: 22px;
  display: none;
}

@media (min-width: 768px) {
  .map__separator {
    margin-bottom: 39px;
    display: block;
  }
}

.map__reviews-title {
  margin: 0px auto;
  padding-bottom: 36px;
  font-size: 19px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

@media (min-width: 768px) {
  .map__reviews-title {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 72px;
  }
}

.map__reviews {
  padding-bottom: 46px;
  width: 100%;
  height: 50px;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  margin-top: -1px;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 768px) {
  .map__reviews {
    padding-bottom: 114px;
  }
}

.map__reviews::-webkit-scrollbar {
  display: none;
}

.map__reviews-icon {
  width: 200px;
  height: 100%;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.map__reviews-icon img {
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.map__reviews-icon:first-child {
  margin-left: -55px;
}

.jvm-tooltip.active {
  background-color: #292929;
  padding: 5px 10px;
  font-size: 18px;
  border: 1px solid #CDCDCD;
}

.modal {
  display: none;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #FFFFFF;
  padding: 0px;
  font-family: 'Manrope', sans-serif;
  z-index: 1;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .modal {
    background-color: rgba(7, 34, 41, 0.9);
    padding: 55px;
  }
}

.modal * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.modal__close {
  background: none;
  border: none;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px;
  cursor: pointer;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__content {
  background-color: #FFFFFF;
  padding: 40px 20px;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 768px) {
  .modal__content {
    height: auto;
    padding: 45px 75px;
  }
}

.modal__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: -0.01em;
  margin: 0px 0px 10px 0px;
}

@media (min-width: 768px) {
  .modal__title {
    margin: 0px 0px 14px 0px;
  }
}

.modal__subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  margin: 0px 0px 26px 0px;
}

@media (min-width: 768px) {
  .modal__subtitle {
    margin: 0px 0px 37px 0px;
  }
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.modal__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: left;
}

@media (min-width: 768px) {
  .modal__input-wrapper {
    width: 50%;
  }
  .modal__input-wrapper:nth-child(odd):not(.modal__input-wrapper--message) {
    padding-right: 15px;
  }
  .modal__input-wrapper:nth-child(even):not(.modal__input-wrapper--consent) {
    padding-left: 15px;
  }
}

.modal__input-wrapper label {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 8px;
}

.modal__input-wrapper input {
  height: 60px;
  padding: 18px 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  margin-bottom: 10px;
}

.modal__input-wrapper--message {
  width: 100%;
  margin-bottom: 20px;
}

.modal__input-wrapper--message textarea {
  width: 100%;
  max-width: 100%;
  height: 120px;
  padding: 18px 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  resize: none;
}

.modal__input-wrapper--consent {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 36px;
}

.modal__input-wrapper--consent input {
  height: auto;
  padding: 0px;
  margin: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 30px;
  position: relative;
  width: 0;
  height: 0;
  cursor: pointer;
}

.modal__input-wrapper--consent input::before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #072229;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.modal__input-wrapper--consent input:checked::after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #072229;
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
}

.modal__input-wrapper--consent label {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  margin-bottom: 0px;
  cursor: pointer;
}

.modal__submit-btn-wrapper {
  width: 100%;
  text-align: center;
}

.modal__submit-btn {
  background-color: #96D1FE;
  border: none;
  border-radius: 100px;
  padding: 15px 48px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  cursor: pointer;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.modal__submit-btn img {
  margin-left: 13px;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}
