body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.column {
  width: 100%;
  background-color: antiquewhite;
  padding: 40px 100px;
  max-width: 1080px;
  margin: 0 auto;
  border-radius: 5px;
}

@media only screen and (max-width: 800px) {
  .column {
    padding: 40px 10px;
  }
}

.map {
  position: relative;
  background-color: blue;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.map img {
  width: 100%;
}

.map * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.map__city-marker {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #7db9d2;
  background-color: red;
}

.map__city-marker:hover {
  border: 2px solid white;
}

.map svg {
  width: 100%;
  height: 100%;
}
