// mixins
@mixin tablet {
  @media (min-width: 768px) { @content; }
}

// Delete this as you won't have it in your code!
body {
  background-color: antiquewhite;
  padding: 0;
  margin: 0;
}

.column {
  margin: 0 auto;
  padding: 0 20px;

  @include tablet {
    padding: 0 100px;
  }
  
  &--map {
    background-color: #072229;
  }
}
  
.column--100 {
  margin: 0 auto;
  padding: 0px;
}
// End delete

// MAP STYLES
.map {
  width: 100%;
  overflow: visible;
  color: #FFFFFF;
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;

  & * {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 52px;
    margin-bottom: 10px;
    margin-top: 0px;
    
    @include tablet {
      padding-top: 105px;
      margin-bottom: 19px;
    }
  }

  &__title {
    font-size: 27px;
    line-height: 35px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 33px;

    @include tablet {
      font-size: 40px;
      line-height: 54px;
      margin-bottom: 64px;
    }

    span {
      color: #96D1FE;
    }
  }

  &__regions {
    margin-bottom: 33px;
    text-align: center;

    @include tablet {
      display: none;
    }
  }

  &__region {
    margin: 0px 41px 0px 0px;
    background-color: transparent;
    border: none;
    color: white;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    

    &:last-child {
      margin-right: 0px;
    }
  }

  &__root-wrapper {
    width: 100%;
    overflow: hidden;
    padding-bottom: 40px;
    // overflow-x: scroll;
    // scrollbar-width: none;
    // &::-webkit-scrollbar { 
    //   display: none;
    // }

    @include tablet {
      overflow: visible;
      padding-bottom: 0px;
    }
  }

  &__root {
    width: 100%;
    margin-bottom: 60px;
    margin-top: 25px;
    min-width: 900px;
    transition: margin 0.4s, transform 0.4s;

    @include tablet {
      margin-bottom: 141px;
      margin-top: 0px;
      min-width: auto;
    }

    &[data-region="c"] {
      @include tablet {
        margin-left: auto;
      }
    }

    circle {
      r: 3;
      stroke-width: 6;

      @include tablet {
        r: 4;
        stroke-width: 8;
      }
    }
  }

  &[data-active-region="america"] &__root {
    margin-left: calc(50% - 230px);
    transform: scale(1);
  }

  &[data-active-region="europe"] &__root {
    margin-left: calc(50% - 460px);
    transform: scale(1.6);
  }

  &[data-active-region="other"] &__root {
    margin-left: calc(50% - 580px);
    transform: scale(0.9);
  }

  &[data-active-region="america"] &__root,
  &[data-active-region="europe"] &__root,
  &[data-active-region="other"] &__root {
    @include tablet {
      margin-left: auto;
      transform: scale(1);
    }
  }
  
  &[data-active-region="america"] &__region[data-region="america"],
  &[data-active-region="europe"] &__region[data-region="europe"],
  &[data-active-region="other"] &__region[data-region="other"] {
    color: #96D1FE
  }

  &__separator {
    margin: 0 auto 39px auto;
    height: 1px;
    background-color: #D9D9D9;
    opacity: 0.1;
    margin-bottom: 22px;
    display: none;
    // max-width: 1200px;
    
    @include tablet {
      margin-bottom: 39px;
      display: block;
    }
  }

  &__reviews-title {
    margin: 0px auto;
    padding-bottom: 36px;
    font-size: 19px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    // max-width: 1200px;

    @include tablet {
      font-size: 22px;
      font-weight: 600;
      padding-bottom: 72px;
    }
  }

  &__reviews {
    padding-bottom: 46px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    margin-top: -1px;
    cursor: grab;
    user-select: none;
  
    @include tablet {
      padding-bottom: 114px;
    }
    
    &::-webkit-scrollbar { 
      display: none;
    }
  }

  &__reviews-icon {
    width: 200px;
    height: 100%;
    display: inline-block;
    user-select: none;

    img {
      user-select: none;
      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  
    &:first-child {
      margin-left: -55px;
    }
  }
}

// Has to remain outside component styling
.jvm-tooltip.active {
  background-color: #292929;
  padding: 5px 10px;
  font-size: 18px;
  border: 1px solid #CDCDCD;
}

// MODAL STYLES//
.modal {
  display: none;
  overflow-y: scroll;
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-color: #FFFFFF;
  padding: 0px;
  font-family: 'Manrope', sans-serif;
  z-index: 1;
  text-align: center;
  box-sizing: border-box;
  
  @include tablet {
    background-color: rgba(7, 34, 41, 0.9);
    padding: 55px;
  }

  & * {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
  }

  &__close {
    background: none;
    border: none;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0px;
    cursor: pointer;
    transition: opacity 300ms;

    &:hover {
      opacity: 0.6;
    }
  }
  
  &__content {
    background-color: #FFFFFF;
    padding: 40px 20px;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    height: fit-content;
  
    @include tablet {
      height: auto;
      padding: 45px 75px;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.01em;
    margin: 0px 0px 10px 0px;

    @include tablet {
      margin: 0px 0px 14px 0px;
    }
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    margin: 0px 0px 26px 0px;

    @include tablet {
      margin: 0px 0px 37px 0px;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;

    @include tablet {
      width: 50%;

      &:nth-child(odd):not(.modal__input-wrapper--message) {
        padding-right: 15px;
      }
  
      &:nth-child(even):not(.modal__input-wrapper--consent) {
        padding-left: 15px;
      }
    }

    label {
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: #000000;
      margin-bottom: 8px;
    }

    input {
      height: 60px;
      padding: 18px 20px;
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      margin-bottom: 10px;  
    }

    &--message {
      width: 100%;
      margin-bottom: 20px;

      textarea {
        width: 100%;
        max-width: 100%;
        height: 120px;
        padding: 18px 20px;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        resize: none;
      }
    }

    &--consent {
      width: 100%;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 36px;

      input {
        height: auto;
        padding: 0px;
        margin: 0px;
        width: fit-content;
        margin-right: 30px;
        position: relative;
        width: 0;
        height: 0;
        cursor: pointer;

        &::before {
          content: "";
          width: 18px;
          height: 18px;
          border: 1px solid #072229;
          display: block;
          position: absolute;
          top: 0px;
          left: 0px;
        }

        &:checked {
          &::after {
            content: "";
            width: 14px;
            height: 14px;
            background-color: #072229;
            display: block;
            position: absolute;
            top: 3px;
            left: 3px;
          }
        }
      }

      label {
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        margin-bottom: 0px;
        cursor: pointer;
      }
    }
  }

  &__submit-btn-wrapper {
    width: 100%;
    text-align: center;
  }

  &__submit-btn {
    background-color: #96D1FE;
    border: none;
    border-radius: 100px;
    padding: 15px 48px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    cursor: pointer;
    transition: opacity 300ms;

    img {
      margin-left: 13px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}